<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Jaydeep Sarkar. It use data from mapbox and darksky.net!</p>
            <br>
            <img class="portrait" src="./img/robot.png">
        </div>
        {{>footer}}
    </body>
</html>